CONCURSEIRO_DEPLOYMENT=production
CONCURSEIRO_API_URL=https://concurseiro-api-lnae.onrender.com
NEXT_PUBLIC_WEB_URL=https://staging.seu-dominio.com.br
NEXT_PUBLIC_APP_DOWNLOAD_URL=
NEXT_PUBLIC_TELEMETRY_ENABLED=false
NEXT_PUBLIC_IMAGE_HOSTNAMES=images.unsplash.com
REVALIDATE_SECRET=
